<%- include("./partials/header.ejs") %>
 <div class="container">
    <% if(universities.length){ %> 
    <h2>These are the <%= universities.length %> universities for you in <%= country %>:-</h2>
     <ul>
        <% universities.forEach(function(university){ %>
            <li><strong><%= university %></strong></li>
        <% }) %>
     </ul>
    <% }else{ %>
            <h2>Sorry there are no universities for you in <%= country %> :(</h2>
            <h3>Please choose some other country from the list</h3>
        <% } %>
        <a class="btn btn-info" href="/">Go Back</a>
 </div>
<%- include("./partials/footer.ejs") %>